#sljs-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    width: 100%;
    height: 100%;

    background-color: #d9d9d9;
    background-color: rgba(74, 74, 74, 0.36);
}

#sljs-interface {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f6f6f6;
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    border: 2px solid #d9d9d9;
    border: 2px solid rgba(74, 74, 74, 0.36);

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#sljs-interface .sljs-close-button {
    position: absolute;
    right: 20px;
    top: 10px;
}

#sljs-interface .sljs-close-button button {
    cursor: pointer;

    font-weight: bold;
    font-size: 10pt;

    color: #808080;
    border: 2px solid #d9d9d9;
    background-color: #d9d9d9;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#sljs-interface.sljs-chat {
    width: 600px;
    height: 450px;
}

#sljs-interface.sljs-chat h2 {
    text-align: center;
}

#sljs-interface.sljs-chat .sljs-chat-messages {
    height: 350px;
    overflow: auto;
}

#sljs-interface.sljs-chat .sljs-chat-messages .sljs-chat-item {
    font-size: 10pt;
    padding: 10px 30px 10px 10px;
    min-height: 30px;
}

#sljs-interface.sljs-chat .sljs-chat-messages .sljs-chat-item a {
    color: #ff2f00;
    font-size: 10pt;
}

#sljs-interface.sljs-chat .sljs-chat-messages .sljs-chat-item .sljs-chat-item-sender {
    margin-top: -5px;
    font-size: 12pt;
    font-weight: bold;
    color: #ff2f00;
}

#sljs-interface.sljs-chat .sljs-chat-messages .sljs-chat-item .sljs-chat-item-icon {
    width: 40px;
    float: left;
    margin-right: 10px;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/*#sljs-interface.sljs-chat .sljs-chat-messages .sljs-chat-message-item:nth-child(odd) {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}*/

#sljs-interface.sljs-chat .sljs-chat-message-input {
    font-size: 12pt;
    color: #484848;

    padding: 10px;
    margin: 3px 0 0 5px;

    width: 565px;
    height: 65px;

    resize: none;

    border: 2px solid #ffffff;
    background-color: #ffffff;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#sljs-interface.sljs-welcome {
    width: 600px;
    height: 250px;
}

#sljs-interface.sljs-welcome h2 {
    text-align: center;

}

#sljs-interface.sljs-welcome h3 {
    text-align: center;
    font-style: italic;
}

#sljs-interface.sljs-welcome h3.sljs-validation-failed {
    color: #ad0000;
}

#sljs-interface.sljs-welcome .sljs-welcome-input {
    text-align: center;
}

#sljs-interface.sljs-welcome .sljs-welcome-input input {
    font-size: 20pt;

    padding: 10px;
    margin-bottom: 10px;

    width: 500px;

    border: 2px solid #ffffff;
    background-color: #ffffff;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#sljs-interface.sljs-welcome .sljs-welcome-input input.sljs-validation-failed {
    border-color: #ff0000;
}

#sljs-interface.sljs-welcome .sljs-welcome-input button {
    cursor: pointer;

    font-size: 15pt;
    font-weight: bold;

    padding: 10px;
    width: 520px;

    color: #ffffff;
    background-color: #ad0000;
    border: solid 1px #ad0000;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}