#sljs-wrapper.sljs-pos-float {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    width: 100%;
    height: 100%;

    background-color: #d9d9d9;
    background-color: rgba(74, 74, 74, 0.36);
}

#sljs-wrapper #sljs-interface {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f6f6f6;

    z-index: 9990;
}

#sljs-wrapper.sljs-pos-float #sljs-interface {
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    border: 2px solid #d9d9d9;
    border: 2px solid rgba(74, 74, 74, 0.36);

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#sljs-wrapper.sljs-pos-left #sljs-interface {
    position: fixed;

    top: 0;
    left: 0;
    margin: auto;

    border-right: 2px solid #d9d9d9;
    border-right: 2px solid rgba(74, 74, 74, 0.36);
}

#sljs-wrapper.sljs-pos-right #sljs-interface {
    position: fixed;

    top: 0;
    right: 0;
    margin: auto;

    border-left: 2px solid #d9d9d9;
    border-left: 2px solid rgba(74, 74, 74, 0.36);
}

#sljs-wrapper #sljs-interface .sljs-close-button {
    position: absolute;
    right: 20px;
    top: 10px;

    z-index: 9991;
}

#sljs-wrapper #sljs-interface .sljs-close-button button {
    cursor: pointer;

    font-weight: bold;
    font-size: 10pt;

    color: #808080;
    border: 2px solid #d9d9d9;
    background-color: #d9d9d9;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#sljs-wrapper.sljs-pos-float #sljs-interface.sljs-chat {
    width: 600px;
    height: 450px;
}

#sljs-wrapper.sljs-pos-side #sljs-interface.sljs-chat {
    width: 300px;
    height: 100%;
}

#sljs-wrapper #sljs-interface.sljs-chat h2 {
    text-align: center;
}

#sljs-wrapper.sljs-pos-float #sljs-interface.sljs-chat .sljs-chat-messages {
    height: 350px;
    overflow: auto;
}

#sljs-wrapper.sljs-pos-side #sljs-interface.sljs-chat .sljs-chat-messages {
    width: 300px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 95px;
    overflow: auto;
}

#sljs-wrapper #sljs-interface.sljs-chat .sljs-chat-message-input {
    font-size: 12pt;
    color: #484848;

    margin: 3px 0 0 5px;
    height: 65px;

    resize: none;

    border: 2px solid #ffffff;
    background-color: #ffffff;
}

#sljs-wrapper.sljs-pos-float #sljs-interface.sljs-chat .sljs-chat-message-input {
    padding: 10px;
    width: 565px;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#sljs-wrapper.sljs-pos-side #sljs-interface.sljs-chat .sljs-chat-message-input {
    position: absolute;
    bottom: 5px;

    padding: 10px;

    width: 265px;
}

#sljs-wrapper #sljs-interface.sljs-chat .sljs-chat-messages .sljs-chat-item {
    padding: 10px 45px 10px 0;
    min-height: 40px;

    font-size: 12pt;
    margin: 0 20px;
}

#sljs-wrapper #sljs-interface.sljs-chat .sljs-chat-messages .sljs-chat-item.sljs-chat-item-important {
    padding-left: 10px;
    padding-right: 10px;

    font-weight: lighter;
    border-bottom: dotted 1px #bbbbbb;
    border-bottom: dotted 1px rgba(74, 74, 74, 0.36);
}

#sljs-wrapper #sljs-interface.sljs-chat .sljs-chat-messages .sljs-chat-item.sljs-chat-item-error {
    background-color: #ff2f00;
    background-color: rgba(255, 0, 0, 0.52);
    z-index: 9999;
    font-size: 14pt;
    border-bottom: none;
    color: #ffffff;
}

#sljs-wrapper.sljs-pos-float #sljs-interface.sljs-chat .sljs-chat-messages .sljs-chat-item.sljs-chat-item-error {
    position: absolute;
    margin-top: 140px;
    padding-left: 10px;
    text-align: center;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#sljs-wrapper.sljs-pos-side #sljs-interface.sljs-chat .sljs-chat-messages .sljs-chat-item.sljs-chat-item-error {
    position: fixed;
    width: 270px;
    bottom: 100px;
    margin-left: 5px;
}

#sljs-wrapper.sljs-pos-side #sljs-interface.sljs-chat .sljs-chat-messages .sljs-chat-item.sljs-chat-item-error .sljs-chat-item-body {
    width: 270px;
    text-align: left;
    font-size: 11pt;
}

#sljs-wrapper.sljs-pos-side #sljs-interface.sljs-chat .sljs-chat-messages .sljs-chat-item .sljs-chat-item-support {
    width: 260px;
}

#sljs-wrapper.sljs-pos-side #sljs-interface.sljs-chat .sljs-chat-messages .sljs-chat-item .sljs-chat-item-body {
    width: 260px;
}

#sljs-wrapper #sljs-interface.sljs-chat .sljs-chat-messages .sljs-chat-item a {
    color: #ff2f00;
    font-size: 10pt;
}

#sljs-wrapper #sljs-interface.sljs-chat .sljs-chat-messages .sljs-chat-item .sljs-chat-item-support {
    margin-top: -5px;
    font-size: 12pt;
    font-weight: normal;
    color: #0026ff;
}

#sljs-wrapper #sljs-interface.sljs-chat .sljs-chat-messages .sljs-chat-item .sljs-chat-item-sender {
    margin-top: -5px;
    font-size: 12pt;
    font-weight: lighter;
    color: #484848;
}

#sljs-wrapper #sljs-interface.sljs-chat .sljs-chat-messages .sljs-chat-item .sljs-chat-item-icon {
    width: 40px;
    float: left;
    margin-right: 10px;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#sljs-wrapper.sljs-pos-float #sljs-interface.sljs-welcome {
    width: 600px;
    height: 280px;
}

#sljs-wrapper.sljs-pos-side #sljs-interface.sljs-welcome {
    width: 300px;
    height: 100%;
}

#sljs-wrapper.sljs-pos-side #sljs-interface.sljs-welcome .sljs-app-wrapper {
    position: absolute;
    bottom: 10px;
}

#sljs-wrapper #sljs-interface.sljs-welcome h2 {
    text-align: center;
}

#sljs-wrapper.sljs-pos-side #sljs-interface.sljs-welcome h2 {
    font-size: 22pt;
    margin-top: 50px;
    padding: 0 5px;
}

#sljs-wrapper #sljs-interface.sljs-welcome h3 {
    text-align: center;
    font-style: italic;
}

#sljs-wrapper.sljs-pos-side #sljs-interface.sljs-welcome h3 {
    font-size: 16pt;
}

#sljs-wrapper #sljs-interface.sljs-welcome h3.sljs-validation-failed {
    color: #ad0000;
}

#sljs-wrapper #sljs-interface.sljs-welcome .sljs-welcome-input {
    text-align: center;
}

#sljs-wrapper #sljs-interface.sljs-welcome .sljs-welcome-input input {
    font-size: 20pt;

    padding: 10px;
    margin-bottom: 10px;

    border: 2px solid #ffffff;
    background-color: #ffffff;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#sljs-wrapper.sljs-pos-float #sljs-interface.sljs-welcome .sljs-welcome-input input {
    font-size: 20pt;
    width: 500px;
}

#sljs-wrapper.sljs-pos-side #sljs-interface.sljs-welcome .sljs-welcome-input input {
    font-size: 14pt;
    width: 250px;
}

#sljs-wrapper #sljs-interface.sljs-welcome .sljs-welcome-input input.sljs-validation-failed {
    border-color: #ff0000;
}

#sljs-wrapper #sljs-interface.sljs-welcome .sljs-welcome-input button {
    cursor: pointer;

    font-weight: bold;

    padding: 10px;

    color: #ffffff;
    background-color: #ad0000;
    border: solid 1px #ad0000;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#sljs-wrapper.sljs-pos-float #sljs-interface.sljs-welcome .sljs-welcome-input button {
    font-size: 15pt;
    width: 520px;
}

#sljs-wrapper.sljs-pos-side #sljs-interface.sljs-welcome .sljs-welcome-input button {
    font-size: 12pt;
    width: 270px;
}